<ion-content color="primary">
  <div id="map" style="height: 100%;"></div>
  
  <ion-card class="travel-form">
    <form (ngSubmit)="programarViaje()">
      <ion-card-content>
        <ion-input name="destino" [(ngModel)]="vje.destino" type="text" placeholder="Destino"></ion-input>
        <ion-input name="capacidad" [(ngModel)]="vje.capacidad" type="number" label="Capacidad"></ion-input>
        <ion-input name="costo" [(ngModel)]="vje.costo" type="number" label="Costo"></ion-input>
        <ion-label>Hora de salida</ion-label>
        <ion-datetime
          name="horaSalida"
          [(ngModel)]="vje.horaSalida"
          presentation="time"
          placeholder="Seleccionar hora"
          cancel-text="Cancelar"
          done-text="Hecho"
          hour-cycle="h23"
        ></ion-datetime>
        
        <ion-button expand="block" color="primary" type="submit">
          Registrar viaje
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
