ion-card.custom-card {
  margin: 20px 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para la card */
  border-radius: 12px;
  border: 1px solid #e0e0e0; /* Un borde ligero para definición */
  min-height: 300px; /* Altura mínima para que el contenido quepa bien */
  transform: translateY(-20px); /* Empieza desplazada hacia arriba */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

/* Hover en la card */
ion-card.custom-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más profunda al hacer hover */
}

/* Encabezado de la card: texto e icono alineados */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-info h2 {
  font-size: 1.25rem; /* Tamaño del texto */
  font-weight: 600; /* Negrita */
  color: #ffffff; /* Color del texto */
  margin: 0;
}

.card-info p {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 5px 0; /* Añadir un pequeño margen entre los párrafos */
}




#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Asegúrate de que el mapa esté detrás del formulario */
}

.travel-form {
  position: absolute;
  bottom: 20px; /* Espaciado desde el fondo */
  left: 10px; /* Espaciado desde la izquierda */
  right: 10px; /* Espaciado desde la derecha */
  background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
  padding: 20px; /* Espaciado interno */
  z-index: 2; /* Asegúrate de que el formulario esté por encima del mapa */
}


/* Espaciado del contenido de la tarjeta */
ion-card-content {
  padding: 20px;
}

ion-button.delete-btn {
  margin-top: 15px;
  border-radius: 8px;
  padding: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

/* Hover del botón de eliminar */
ion-button.delete-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Icono de eliminar dentro del botón */
ion-button.delete-btn ion-icon {
  margin-right: 8px;
  font-size: 18px; /* Tamaño adecuado del icono */
}

.custom-card.loaded {
  opacity: 1;
  transform: translateY(0); /* Posición final */
}

.custom-card.removing {
  opacity: 0;
  transform: translateY(20px); /* Desplazar hacia abajo cuando se elimina */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
label {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
  font-weight: 500;
}
input[type="time"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #f2f2f7;
  border: 1px solid #d1d1d6;
  border-radius: 10px;
  color: #333;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="time"]:focus {
  border-color: #007aff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
  opacity: 0.5;
}

