<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let notificacion of notificaciones$ | async">
  <ion-card>
    <ion-list>
      <ion-label>
        <ion-card-header>
          <ion-card-subtitle>{{ notificacion.tipo }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ notificacion.mensaje }}</p>
        </ion-card-content>
        <p class="ion-padding"><small>{{ notificacion.fecha?.toDate() | date }}</small></p>
      </ion-label>
      <div class="ion-padding">
        <ion-button color="danger" (click)="eliminarNotificacion(notificacion.viajeId)">Eliminar Notificación</ion-button>
        <ion-button>
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
      </div>
     
  </ion-list>
    
  </ion-card>

</ion-content>
