<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let notificacion of notificaciones$ | async">
      <ion-label>
        {{notificacion.notificationId}}
        <h2>{{ notificacion.tipo }}</h2>
        <p>{{ notificacion.mensaje }}</p>
        <p><small>{{ notificacion.fecha?.toDate() | date }}</small></p>
      </ion-label>
      <ion-button (click)="eliminarNotificacion(notificacion.notificationId)">Eliminar Notificación</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
