:root {
    --ion-color-primary: #008aff;
    --ion-color-secondary: #FFC107;
    --ion-color-tertiary: linear-gradient(45deg, #8e0fc0, #4e8bf5);
    --ion-color-light: #ffffff;
    --ion-color-dark: #333;
  }

