<ion-content class="viajes-content">
  <div *ngFor="let viaje of viajes" class="viaje-card">
    <ion-card>
      <ion-card-header class="viaje-header">
        <ion-card-title>{{ viaje.destino | uppercase}}</ion-card-title>
        <ion-icon name="location" slot="start" class="viaje-icon"></ion-icon>
      </ion-card-header>

      <ion-card-content mode="ios">
        <p>Creado por: {{ viaje.nombreCreador | uppercase}}</p>
        <p class="viaje-info">Capacidad: {{ viaje.capacidad }}</p>
        <p class="viaje-info">Costo: {{ viaje.costo }} CLP</p>
        <p><ion-icon class="mr-2" slot="start" name="calendar-outline"></ion-icon>{{ viaje.horaSalida | date:'dd/MM/yyyy' }} </p>
        <p><ion-icon class="mr-2" slot="start-outline" name="time"></ion-icon>{{ viaje.horaSalida | date:'HH:mm' }}</p>

        <!-- Contenedor del mapa -->
        <div id="map-{{ viaje.id }}" class="map-container"></div>
      </ion-card-content>
      <ion-button expand="block" mode="ios" fill="outline" color="success" (click)="agregarHistorial({ direccion: viaje.destino , precio: viaje.costo },viaje.costo, viaje.id)">
        Terminar Viaje
      </ion-button>
      
      <ion-button mode="ios" expand="block" fill="outline" color="danger" (click)="eliminarViaje(viaje.id)">
        <ion-icon name="trash" slot="start"></ion-icon>
        Eliminar Viaje
      </ion-button>
    </ion-card>
  </div>
</ion-content>
