<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar color="tertiary" class="toolbar-custom">
    <ion-icon slot="end" size="large" name="settings-outline" class="p-5" routerLink="/tabs/setting"></ion-icon>
    <ion-avatar slot="start">
      <img
        src="https://yt3.googleusercontent.com/vRF8BHREiJ3Y16AbMxEi_oEuoQlnNNqGpgULuZ6zrWSAi24HcxX3Vko42RN8ToctH-G0qlWd=s900-c-k-c0x00ffffff-no-rj" />
    </ion-avatar>
    <div class="div-header">
      <ion-title class="email-title" slot="start">
        {{currentUserName}}
        <p>{{email}}</p>
      </ion-title>
    </div>
  </ion-toolbar>
  <div class="contenido-div relative overflow-hidden ">
    <!-- Bienvenida -->
    <h2 class="text-center text-2xl font-semibold mb-6 p-10">Resumen de tu actividad</h2>

    <!-- Estadísticas Generales -->
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="stat-card">
            <ion-icon name="cash-outline" class="stat-icon"></ion-icon>
            <div class="stat-text">
              <p>Ingresos de la semana</p>
              <h3>${{ ganancias}}</h3>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card class="stat-card">
            <ion-icon name="people-outline" class="stat-icon"></ion-icon>
            <div class="stat-text">
              <p>Viajes completados</p>
              <h3>{{viajesTerminados}}</h3>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Calificación Promedio -->
    <div class="rating-section text-center mt-6">
      <h3 class="text-lg font-semibold">Calificación Promedio</h3>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star" color="warning"></ion-icon>
      <ion-icon name="star-half-outline" color="warning"></ion-icon>
      <p class="text-sm text-gray-500">4.5 / 5.0</p>
    </div>

  </div>
</ion-content>